* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Orbitron", sans-serif;
}

@media screen and (max-width: 960px) {
  * {
    font-size: 10px;
  }
}

body {
  background: url(../img/BackgroundNoise.svg);
  background-size: 30%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.navigation__marsTravel {
  width: 20%;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #a51616;
}

.navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  max-width: 1000px;
}

.navigation__links a {
  color: #909090;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #a51616;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
}

.hero__heading__title {
  font-size: 15vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#a51616));
  background: linear-gradient(to top, #000000, #a51616);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (min-width: 1200px) {
  .hero__heading .hero__heading__title {
    font-size: 220px;
  }
}

.hero__heading__img {
  background: url(../img/Mars.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40vw;
  max-width: 600px;
  height: 40vw;
  position: absolute;
  -webkit-filter: drop-shadow(0px 0px 20px black);
          filter: drop-shadow(0px 0px 20px black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__heading__img2 {
  background: url(../img/Marsandorbits.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 47vw;
  max-width: 700px;
  height: 47vw;
  max-height: 700px;
  -webkit-animation: rotationStellar 300s linear forwards infinite;
          animation: rotationStellar 300s linear forwards infinite;
}

@-webkit-keyframes rotationStellar {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotationStellar {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 8%;
  margin-left: 8%;
  margin-top: 200px;
}

.hero__info__dream {
  color: #909090;
}

.hero__info__buyTickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.hero__info__buyTickets:hover .hero__info__buyTickets__arrow {
  -webkit-transform: translateX(2vw);
          transform: translateX(2vw);
}

.hero__info__buyTickets p {
  color: #eeee;
  margin-right: 2vw;
  white-space: nowrap;
}

.hero__info__buyTickets__arrow {
  background: url(../img/Arrow.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 4vw;
  height: 4vw;
  position: relative;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.hero__info__buyTickets__ellipse {
  background: url(../img/Ellipse.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 4vw;
  height: 4vw;
  position: relative;
}

#tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  direction: columns;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10vw;
}

#tickets .tickets__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #eeee;
  width: 20vw;
  height: 20vw;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2vw;
  border-style: solid;
  border-color: blue;
  text-decoration: none;
  color: #eeee;
  gap: 3vw;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#tickets .tickets__card h1 {
  font-size: 2rem;
}

#tickets .tickets__card:nth-child(1) {
  background: #373B44;
  background: -webkit-gradient(linear, left top, right top, from(#4286f4), to(#373B44));
  background: linear-gradient(to right, #4286f4, #373B44);
}

#tickets .tickets__card:nth-child(2) {
  background: #7F7FD5;
  background: -webkit-gradient(linear, left top, right top, from(#91EAE4), color-stop(#86A8E7), to(#7F7FD5));
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

#tickets .tickets__card:nth-child(3) {
  background: #f12711;
  background: -webkit-gradient(linear, left top, right top, from(#f5af19), to(#f12711));
  background: linear-gradient(to right, #f5af19, #f12711);
}

#tickets .tickets__card:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */